<div class="row">
  <div class="col-lg-4 -auto">
    <div class="list-group ">
      <div class="d-flex justify-content-center">
        <h2>Please touch the piano!</h2>
        <hr />
      </div>
      <a
        (click)="appSound(1)"
        class="list-group-item list-group-item-action"
        style="background-color: red"
      ></a>
      <a
        (click)="appSound(2)"
        class="list-group-item list-group-item-action"
        style="background-color: orange"
      ></a>
      <a
        (click)="appSound(3)"
        class="list-group-item list-group-item-action"
        style="background-color: yellow"
      ></a>
      <a
        (click)="appSound(4)"
        class="list-group-item list-group-item-action"
        style="background-color: green"
      ></a>
      <a
        (click)="appSound(5)"
        class="list-group-item list-group-item-action"
        style="background-color: teal"
      ></a>
      <a
        (click)="appSound(6)"
        class="list-group-item list-group-item-action"
        style="background-color: blue"
      ></a>
      <a
        (click)="appSound(7)"
        class="list-group-item list-group-item-action"
        style="background-color: purple"
      ></a>
    </div>
  </div>
</div>

<!-- <audio controls>
  <source src="../assets/sonidos/note1.wav">
</audio> -->
